.rectangle{
    width: 1366px;
    background-color:rgb(236, 17, 54);
    height: 80px;
    margin: 0 0 37px;
    padding: 10px 15px 10px 15px;
    border: 1px solid red;
}
.logo{
    width: 80px;
    height: 80px;
    font-size: 60px;
    border-radius: 50%;
    font-weight: 600;
    background:white;
    text-align: center;
    color: rgb(248, 26, 63);
    position: absolute;
    left: 10%;
    top: 20px;




}
.login{
    font-size: 25px;
    color: white;
    position: absolute;
    left: 70%;
    top:40px;
font-family: sans-serif;
    font-weight: 600;
}
.btnclass{
        font-size: 25px;
    font-family: sans-serif;
        color: white;
        background: rgb(248, 26, 63);
        font-weight: 700;
        position: absolute;
        left: 77%;
        top: 40px;
    
}

.heading{
        width: 512px;
        height: 70px;
        margin: 37px 25px 27px 113px;
    font-family: sans-serif;
        font-size:45px;
        font-weight:700;
        line-height:2;
        color:rgb(9, 9, 73);

}
.left-part{
    display:block;
    width: 45%;
}
.rectangle-1{
    width: 260px;
    height:750px;
    margin: 27px 45px 8px 113px;
    padding: 17px 25px 31px 26px;
    box-shadow: 1px 4px 5px 1px black;
    background-color: #fff;
  
}
.Filters{
    width: 55px;
  height: 25px;
        padding: 10px;
    
        font-family: sans-serif;
        font-size:30px;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
        color:rgb(9, 9, 73);     
}
.Select-location{
    
    width:180px ;
  margin:10px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight:400;
  line-height: 1.5;
  text-align: left;
  color:rgb(9, 9, 73); 
  
}
.rectangle-3{
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight:400;
  line-height: 1.5;
  text-align: left;
  color:rgb(71, 71, 177);
  width: 180px;
}
.cuisine{
    width:180px ;
    margin:10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight:400;
    line-height: 1.5;
    text-align: left;
    color:rgb(9, 9, 73); 
      
}
.checkboxs{
width:180px ;
margin:10px;
font-family: sans-serif;
font-size: 18px;
font-weight:400;
line-height: 1.5;
text-align: left;
color:rgb(33, 33, 231); 
}
.rectangle-4{
width:180px ;
margin:10px;
font-family: sans-serif;
font-size: 18px;
font-weight:400;
line-height: 1.5;
text-align: left;
color:rgb(9, 9, 73);
}
.radio{
width:180px ;
margin:10px;
font-family: sans-serif;
font-size: 18px;
font-weight:400;
line-height: 1.5;
text-align: left;
color:rgb(33,33,231);
} 
.rectangle-5{
    width:180px ;
    margin:10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight:400;
    line-height: 1.5;
    text-align: left;
    color:rgb(9, 9, 73);
}
.right-part-1{
    display: inline-block;
    width:28%;
}
.rectangle-6{
    display: inline-block;
    width: 700px;
    height: 300px;
    margin: 27px 45px 8px 113px;   
     padding: 10px 25px 31px 26px;
    box-shadow: 1px 4px 5px 1px black;
    background-color: #fff;
    position: absolute;
    left: 30%;
    top: 235px;
}
.rectangle-6 img{
    border-radius: 10px;
}
.right-part-2{
display: inline-block;
padding: 20px 0 0 20px;

}
.right-part-2 h1{
    color: rgb(17, 17, 83);
    font-weight: 700;
    font-family: sans-serif;
}
.right-part-2 h2{
    color: rgb(45, 45, 144);
    font-weight: 400;
    font-family: sans-serif;
}
.right-part-2 p{
    color: rgb(65, 65, 207);
    font-size:20px ;
}
.cuisines{
    color: rgb(12, 12, 146);
    padding-left:20px ;
    font-size: 20px;
}
.cuisines span{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 32%;
    top: 225px;
    padding-left:20px ;
}
.cuisines-1{
    color: rgb(12, 12, 146);
    padding-left: 20px;
    font-size: 20px;
}
.cuisines-1 span{
    font-size: 28px;
    font-weight: 300;
    position: absolute;
    left: 32%;
    top: 278px;
    padding-left:20px ;
}
.rectangle-7{
display: inline-block;
    width: 700px;
    height: 300px;
    margin: 27px 45px 8px 113px;   
     padding: 10px 25px 31px 26px;
    box-shadow: 1px 4px 5px 1px black;
    background-color: #fff;
    position: absolute;
    left:410px;
    top:650px;
}
.rectangle-7 img{
    border-radius: 10px;
}
